<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMQu4BvZIX72cowPSIamARxSh8QCgo-Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>788177748974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minitiga.Exercise-for-Elderly</string>
	<key>PROJECT_ID</key>
	<string>exercise-pace-elderly</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise-pace-elderly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788177748974:ios:4156ff2db95d00533604ff</string>
</dict>
</plist>